{% extends 'base.html' %}
{% block 'main' %}
{% load static %}

        <!-- about details -->
        <div class="row">
            <h3 class="text-center mt-3">About Us</h3>
            <hr>
            <div class="col-md-6">
              <h4 class="text-center shadow-lg">Mission</h4>
              <p>At Ekart, our mission is to redefine the online shopping experience by offering a curated selection of high-quality products that cater to the diverse needs and preferences of our customers. We are dedicated to providing a seamless and enjoyable shopping journey, backed by exceptional customer service, secure transactions, and timely delivery. Our commitment is to foster long-lasting relationships with our customers, partners, and employees, while continuously striving for innovation and excellence in the world of e-commerce.</p>
            </div>
            <div class="col-md-6">
              <h4 class="text-center shadow-lg">Vision</h4>
              Our vision at Ekart is to become a leading global e-commerce platform that empowers individuals to discover, connect, and indulge in a world of limitless possibilities. We envision a future where Ekart serves as a digital marketplace that not only offers a wide range of products, but also fosters a sense of community, inspiration, and convenience. By embracing technological advancements, sustainable practices, and customer-centric strategies, we aim to create a lasting impact on the way people shop and perceive online retail. As we evolve, our aspiration is to be recognized not only for our business success, but for the positive influence we have on the lives of our customers and the larger e-commerce landscape.
            </div>
            <hr><hr>
            <div class="col-md-4 mt-3">
              <div class=" shadow-lg" style="background-color: whitesmoke; width: 90%;">
                <br>
                <h1 class="text-danger text-center">10000+</h1>
                <p class="text-center">Happy Customer...</p>
                <br>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class=" shadow-lg" style="background-color: whitesmoke; width: 90%;">
                <br>
                <h1 class="text-danger text-center">10000+</h1>
                <p class="text-center">Happy Customer...</p>
                <br>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class=" shadow-lg" style="background-color: whitesmoke; width: 90%;">
                <br>
                <h1 class="text-danger text-center">10000+</h1>
                <p class="text-center">Happy Customer...</p>
                <br>
              </div>
            </div>
  
          </div>

{% endblock 'main' %}