{% load static %}
<br>
<!-- footer -->
<div class="row">
    <!-- address -->
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      <p>
        Ekart Solution Pvt Ltd <br>
        7th Floor Ishan Arcade 2 <br>
        Near GoaDevi mandir <br>
        Thane-West
      </p>
      <p><a href=""><i class="bi bi-telephone fa" style="font-size: 25px;"></i></a> :- +91-9876543210</p>
      <p>
        <a href=""><i class="bi bi-envelope-at-fill fa"  style="font-size: 25px;"></i></a>
        :- Itvedant@Ekart.com
      </p>
    </div>

    <!-- quick links -->
    <div class="col-md-4">
      <h5>Quick links</h5>
      <hr>
       <p><a href="index" class="a">Index</a></p>
       <p><a href="about" class="a">About Us</a></p>
       <p><a href="contact" class="a">Contact</a></p>
       <p><a href="cart" class="a">Cart</a></p>
    </div>

    <!-- connect us -->
    <div class="col-md-4">
      <h5>Connect Us</h5>
      <hr>

      <h2><a href="https://www.facebook.com/" target="blank"><i class="bi bi-facebook fa"></i></a></h2>
      <h2><a href="https://www.instagram.com/" target="blank"><i class="bi bi-instagram fa"></i></a></h2>
      <h2><a href=""><i class="bi bi-linkedin fa"></i></a></h2>
      <h2><a href=""><i class="bi bi-twitter fa"></i></a></h2>

    </div>

</div>

</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>