<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Ekart|register</title>
</head>
<body style="background-color: rgb(189, 189, 189) ;">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 mt-1">
              <nav class="navbar navbar-expand-lg " style="background-color: #dbdbdb ;">
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                          <li class="nav-item">
                            <a class="nav-link navtitle" href="/index">EvanA</a>
                          </li>
                  </nav>
        </div>

        <div class="row mt-5">
            <div class="card mx-auto col-md-4 mt-5 shadow p-3 mb-5 bg-body rounded" >
                <h5 class="card-header text-center" style="background-color: rgb(159, 159, 159);"><Strong>Login</Strong></h5>
                <div class="card-body" style="background-color: lightgray;">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if errmsg %}
                        <div class="alert alert-danger" role="alert">
                           {{errmsg}}
                          </div>
                        {% endif %}
                        <div class="mb-3 row">
                            <label for="mail" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="mail" name="mail" autofocus>
                        </div>
                    </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" name="p" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary mb-3">Log-In</button>
                        </div>
                        <div class="col-sm-8 mt-2 mx-auto">
                            <a href="#" class="a">Forgot Password?</a>
                        </div>
                        
                    </div>
                    
                </form>
                </div>
            </div>
        </div>
    </div>



        






<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>